{% extends "base.html"%}
{% block title %} Forget Password {% endblock %}
  {% block forgetpasswordactive %} active {% endblock %}
  {% block body %}

<center>
  <div class="continer">
    <form class="form" method="post" id="form">
        {% csrf_token %}
        <h1>Forget Password</h1>
<hr>
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

     
        <div class="form-group">
            <label for="password" >Enter your username</label><br>
            <input type="text" name="username"  class="form-control">
           
        </div>

        <br>
       
        <button class="btn" type="submit" value="submit" style="height: 50px; width: 300px; background-color: grey; color: white; font-size:20px;"><a href="http://127.0.0.1:8000/changepassword/">Submit</a></button>


    </form>
</div>

<style>
    .form-group{
        width:300px;
        
    
    }
    </style>
</center>
{% endblock %}