
{% extends 'base.html' %}

{% block title %} healthhome {% endblock %}
{% block healthhomeactive %} active {% endblock %}
{% block body %}
{% load static %}

<center>
<h2 style="color: #000000;"> HealthGeek</h2>
</center>


<section class="hero-section">


  <div class="card-grid">
    <a class="card" href="https://diet-recommendation-system.streamlit.app/Diet_Recommendation">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1532054241088-402b4150db33?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2448&q=80)"></div>
      <div class="card__content">
        <p class="card__category">Health</p>
        <h3 class="card__heading">Try out our Diet Recommender</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1576169210859-6796c4b93c32?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8ZGlhYmV0ZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=900&q=60)"></div>
      <div class="card__content">
        <p class="card__category">Health</p>
        <h3 class="card__heading">Check your diabetes!</h3>
      </div>
    </a>
    <a class="card" href="https://healthgeek-stress-determination.streamlit.app/">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1578880981498-3d60436ba825?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDN8fGV4ZXJjaXNlfGVufDB8fDB8fHww&auto=format&fit=crop&w=900&q=60)"></div>
      <div class="card__content">
        <p class="card__category">mental health</p>
        <h3 class="card__heading">Stressed? Get it checked!</h3>
      </div>
    </li>
    <a class="card" href="https://healthgeek-hydration-calculator.streamlit.app">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1602904761432-f9ad96133982?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8d2F0ZXIlMjBnbGFzc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=900&q=60)"></div>
      <div class="card__content">
        <p class="card__category">health</p>
        <h3 class="card__heading">Calculate your water intake!</h3>
      </div>
    </a>
    
  <div>
    <style>
        :root{
  --background-dark: #1e1f22;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body{
  height: 100%;
}

.hero-section{
  align-items: flex-start;
  background-image: linear-gradient(15deg, #34393e 0%, #25282b 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}
    </style>
</section>
{% endblock %}