{% extends 'base.html' %}

        {% block title %}Suitable diet!{% endblock %}
        {% block healthyactive %} active {% endblock %}
        {% block body %}
        {% load static %}
        
        <h2 style="text-align:center;">Suitable Diet Plan for you</h2>
        <h5 style="text-align:center;"> You fall under the Healthy category. </h5>
       <u> <h6 style="text-align:center;"> It is suggested that you follow the following diet plan</h6></u>
       
     

       <br><center>
        <div class="lybMar-btm lybMar-top">
            <table>
               <tbody>
                  <tr>
                     <td style="text-align: center;font-weight: 600;" colspan="2">Sunday</td>
                  </tr>
                  <tr>
                     <td width="20%">Breakfast </td>
                     <td>Cucumber water + Oats porridge in skimmed milk + Mixed nuts</td>
                  </tr>
                 
                  <tr>
                     <td width="20%">Lunch </td>
                     <td>Skimmed milk paneer + Mixed vegetable salad + Roti/Chapati, Dal, and Sabzi + Buttermilk</td>
                  </tr>
                 
                  <tr>
                     <td width="20%">Dinner </td>
                     <td>Mixed vegetable salad + Roti/Chapati, Dal, and Sabzi </td>
                  </tr>
                  <tr>


                     <td style="text-align: center;font-weight: 600;" colspan="2">Monday</td>
                  </tr>
                  <tr>
                     <td width="20%">Breakfast </td>
                     <td>Cucumber water + Curd + Mixed vegetable stuffed roti/chapati</td>
                  </tr>
                  
                  <tr>
                     <td width="20%">Lunch </td>
                     <td>Skimmed milk paneer + Mixed vegetable salad + Rice and curry + Buttermilk + Fresh fruits</td>
                  </tr>
                  
                  <tr>
                     <td width="20%">Dinner </td>
                     <td>Mixed vegetable salad + Roti/Chapati, sautéed vegetables, and paneer</td>
                  </tr>




                  <tr>
                     <td style="text-align: center;font-weight: 600;" colspan="2">Tuesday</td>
                  </tr>
                  <tr>
                     <td width="20%">Breakfast </td>
                     <td>Cucumber water + Skim milk yogurt + Multigrain toast</td>
                  </tr>
                  
                  <tr>
                     <td width="20%">Lunch </td>
                     <td>Skimmed milk paneer + Mixed vegetable salad + Sautéed vegetables with paneer and roti/chapati</td>
                  </tr>
                  
                  <tr>
                     <td width="20%">Dinner </td>
                     <td>Mixed vegetable salad + Rice and curry</td>
                  </tr>






                  <tr>
                     <td style="text-align: center;font-weight: 600;" colspan="2">Wednesday</td>
                  </tr>
                  <tr>
                     <td width="20%">Breakfast </td>
                     <td>Cucumber water + Fruits and nuts yogurt smoothie + Egg omelet</td>
                  </tr>
                  
                  <tr>
                     <td width="20%">Lunch </td>
                     <td>Skimmed milk paneer + Mixed vegetable salad + Roti/chapati with green gram whole dal and sabzi </td>
                  </tr>
                  
                  <tr>
                     <td width="20%">Dinner </td>
                     <td>Mixed vegetable salad + Rice and sabzi</td>
                  </tr>
                  <tr>





                     <td style="text-align: center;font-weight: 600;" colspan="2">Thursday</td>
                  </tr>
                  <tr>
                     <td width="20%">Breakfast </td>
                     <td>Cucumber water + Skimmed milk + Peas Poha</td>
                  </tr>
                  
                  <tr>
                     <td width="20%">Lunch </td>
                     <td>Skimmed milk paneer + Mixed vegetable salad + Roti/chapati and curry</td>
                  </tr>
                  
                  <tr>
                     <td width="20%">Dinner </td>
                     <td>Cucumber water + Idli Sambar</td>
                  </tr>


                  <tr>
                     <td style="text-align: center;font-weight: 600;" colspan="2">Friday</td>
                  </tr>
                  <tr>
                     <td width="20%">Breakfast </td>
                     <td>Mixed vegetable salad + Roti, Curd, and Sabzi</td>
                  </tr>
                  
                  <tr>
                     <td width="20%">Lunch </td>
                     <td>Skimmed milk paneer + Mixed vegetable salad + Roti, Curd, and Sabzi</td>
                  </tr>
                  
                  <tr>
                     <td width="20%">Dinner </td>
                     <td>Mixed vegetable salad + Roti/chapati with green gram whole dal and sabzi</td>
                  </tr>





                  <tr>
                     <td style="text-align: center;font-weight: 600;" colspan="2">Saturday</td>
                  </tr>
                  <tr>
                     <td width="20%">Breakfast</td>
                     <td> Cucumber water + Besan Chilla and Chutney</td>
                  </tr>
                 
                  <tr>
                     <td width="20%">Lunch</td>
                     <td>Skimmed milk paneer + Mixed vegetable salad + Rice and curry</td>
                  </tr>
                 
                  <tr>
                     <td width="20%">Dinner</td>
                     <td>Mixed vegetable salad + Roti/chapati and curry</td>
                  </tr>
               </tbody>
            </table>
         </div>
        </center>
         <style>
        
            tr,td{
                border: solid 2px black;
                padding-left: 5px;
                width: fit-content;
            }
            
            
            
            </style>

        {% endblock %}