{% extends 'base.html' %}

        {% block title %}Suitable diet!{% endblock %}
        {% block obeseactive %} active {% endblock %}
        {% block body %}
        {% load static %}
        
        <h2 style="text-align:center;">Suitable Diet Plan for you</h2>
        <h5 style="text-align:center;"> You fall under the Obese category. </h5>
       <u> <h6 style="text-align:center;"> It is suggested that you follow the following diet plan</h6></u>
<!--OBESE-->
<center>
<div class="lybMar-btm lybMar-top">
    <table>
       <tbody>
          <tr>
             <td style="text-align: center;font-weight: 600;" colspan="2">Sunday</td>
          </tr>
          <tr>
             <td width="20%">Breakfast</td>
             <td>3 egg whites + 1 toasted brown bread + 1/2 cup low fat sugarless milk </td>
          </tr>
          <tr>
             <td width="20%">Mid-Meal </td>
             <td>1 cup papaya</td>
          </tr>
          <tr>
             <td width="20%">Lunch</td>
             <td>1 cup dal + 1 chapatti + 1/2 cup low fat curd + salad</td>
          </tr>
          <tr>
             <td width="20%">Evening </td>
             <td>1 cup veg soup</td>
          </tr>
          <tr>
             <td width="20%">Dinner </td>
             <td>1 cup pumpkin + 1 chapatti + salad</td>
          </tr>
          <tr>
             <td style="text-align: center;font-weight: 600;" colspan="2">Monday</td>
          </tr>
          <tr>
             <td width="20%">Breakfast </td>
             <td>1 onion stuffed chapatti + 1/2 cup low fat curd</td>
          </tr>
          <tr>
             <td width="20%">Mid-Meal </td>
             <td>1 cup coconut water</td>
          </tr>
          <tr>
             <td width="20%">Lunch </td>
             <td>1 cup moong dal/chicken curry + 1 chapatti + salad</td>
          </tr>
          <tr>
             <td width="20%">Evening </td>
             <td>1 cup pomegranate</td>
          </tr>
          <tr>
             <td width="20%">Dinner </td>
             <td>1 cup beans + 1 chapatti + salad</td>
          </tr>
          <tr>
             <td style="text-align: center;font-weight: 600;" colspan="2">Tuesday</td>
          </tr>
          <tr>
             <td width="20%">Breakfast </td>
             <td>2 besan cheela + 1/2 cup low fat curd</td>
          </tr>
          <tr>
             <td width="20%">Mid-Meal </td>
             <td>1 apple </td>
          </tr>
          <tr>
             <td width="20%">Lunch </td>
             <td>1 cup masoor dal + 1 chapatti + 1/2 up low fat curd + salad</td>
          </tr>
          <tr>
             <td width="20%">Evening </td>
             <td>1 cup tomato soup</td>
          </tr>
          <tr>
             <td width="20%">Dinner </td>
             <td>1 cup carrot peas vegetable +1 chapatti + salad</td>
          </tr>
          <tr>
             <td style="text-align: center;font-weight: 600;" colspan="2">Wednesday</td>
          </tr>

          <tr>
             <td width="20%">Breakfast</td>
             <td>1 brown bread, upma + 1/2 cup sugarless low fat milk</td>
          </tr>
          <tr>
             <td width="20%">Mid-Meal </td>
             <td>1 cup muskmelon</td>
          </tr>
          <tr>
             <td width="20%">Lunch </td>
             <td>1 cup rajma curry + 1 chapatti + salad</td>
          </tr>
          <tr>
             <td width="20%">Evening </td>
             <td>1 cup vegetable soup </td>
          </tr>
          <tr>
             <td width="20%">Dinner </td>
             <td>1 cup parwal vegetable + 1 chapatti + salad</td>
          </tr>
          <tr>
             <td style="text-align: center;font-weight: 600;" colspan="2">Thursday</td>
          </tr>
          <tr>
             <td width="20%">Breakfast </td>
             <td>1 cucumber curd sandwich + 1/2 tsp green chutney + 1 orange</td>
          </tr>
          <tr>
             <td width="20%">Mid-Meal </td>
             <td>1 cup buttermilk</td>
          </tr>
          <tr>
             <td width="20%">Lunch </td>
             <td>1 cup white chana/fish curry + 1 chapatti + salad</td>
          </tr>
          <tr>
             <td width="20%">Evening </td>
             <td>1 cup low fat milk (no sugar)</td>
          </tr>
          <tr>
             <td width="20%">Dinner </td>
             <td>1 cup cauliflower vegetable + 1 chapatti + salad</td>
          </tr>
          <tr>
             <td style="text-align: center;font-weight: 600;" colspan="2">Friday</td>
          </tr>
          <tr>
             <td width="20%">Breakfast </td>
             <td>1 cup poha + 1 cup low fat curd</td>
          </tr>
          <tr>
             <td width="20%">Mid-Meal </td>
             <td>1 cup watermelon</td>
          </tr>
          <tr>
             <td width="20%">Lunch </td>
             <td>1 cup chana dal + 1 chapatti + salad</td>
          </tr>
          <tr>
             <td width="20%">Evening </td>
             <td>1 cup sprout-salad</td>
          </tr>
          <tr>
             <td width="20%">Dinner </td>
             <td>1 cup tinda vegetable + 1 chapatti + salad</td>
          </tr>
          <tr>
             <td style="text-align: center;font-weight: 600;" colspan="2">Saturday</td>
          </tr>
          <tr>
             <td width="20%">Breakfast </td>
             <td>1 cup low fat milk with oats + 3-4 strawberries</td>
          </tr>
          <tr>
             <td width="20%">Mid-Meal </td>
             <td>1 cup coconut water</td>
          </tr>
          <tr>
             <td width="20%">Lunch </td>
             <td>1 cup soyabean curry + 1 chapatti + salad</td>
          </tr>
          <tr>
             <td width="20%">Evening </td>
             <td>1 cup fruit salad</td>
          </tr>
          <tr>
             <td width="20%">Dinner </td>
             <td>1 cup ghia vegetable + 1 chapatti + salad</td>
          </tr>
       </tbody>
    </table>
 </div>
</center>
<style>

tr,td{
    border: solid 2px black;
    padding-left: 5px;
}



</style>
{% endblock %}