{% extends 'base.html' %}

        {% block title %}Suitable diet!{% endblock %}
        {% block obeseactive %} active {% endblock %}
        {% block body %}
        {% load static %}
        <h2 style="text-align:center;">Suitable Diet Plan for you</h2>
        <h5 style="text-align:center;"> You fall under the Overweight category. </h5>
       <u> <h6 style="text-align:center;"> It is suggested that you follow the following diet plan</h6></u>


       <center>
       <div class="lybMar-btm lybMar-top">
        <table>
           <tbody>
              <tr>
                 <td style="text-align: center;font-weight: 600; width: fit-content;" colspan="2">Sunday</td>
              </tr>
              <tr>
                 <td width="20%">Breakfast</td>
                 <td>4 Idli+ 1/2 cup sambhar+1 tsp coconut chutney+1 glass milk/ 1 cup tea</td>
              </tr>
              <tr>
                 <td width="20%">Mid-Meal</td>
                 <td>100gm musk melon</td>
              </tr>
              <tr>
                 <td width="20%">Lunch </td>
                 <td>4 chapati+1 portion(100gm) grilled/stewed fish+1/2 cup rajmah curry</td>
              </tr>
              <tr>
                 <td width="20%">Evening </td>
                 <td>1/2 cup Sweet potato salad+ 1 cup green tea</td>
              </tr>
              <tr>
                 <td width="20%">Dinner </td>
                 <td>3 chapathi+ 1/2 cup ridge gourd(thori) sabji+1/2 cup vegetable salad</td>
              </tr>
              <tr>
                 <td style="text-align: center;font-weight: 600;" colspan="2">Monday</td>
              </tr>
              <tr>
                 <td width="20%">Breakfast</td>
                 <td>2 paratha(aloo/gobhi/methi) with 2 tsp green chutney</td>
              </tr>
              <tr>
                 <td width="20%">Mid-Meal</td>
                 <td>1 wedge(100gm) watermelon</td>
              </tr>
              <tr>
                 <td width="20%">Lunch </td>
                 <td>1 cup rice+2 chapathi+ /2 cup ivy gourd sabji+ 1 glass buttermilk</td>
              </tr>
              <tr>
                 <td width="20%">Evening</td>
                 <td>Avocado(50gm) whole wheat bread(3 slices) sandwich+ 1 cup green tea</td>
              </tr>
              <tr>
                 <td width="20%">Dinner </td>
                 <td>3 chapati+1/2 cup tinda sabji+ 1/2 cup vegetable salad</td>
              </tr>
              <tr>
                 <td style="text-align: center;font-weight: 600;" colspan="2">Tuesday</td>
              </tr>
              <tr>
                 <td width="20%">Breakfast </td>
                 <td>1 cup broken wheat upma with vegetables+1 cup milk/tea</td>
              </tr>
              <tr>
                 <td width="20%">Mid-Meal </td>
                 <td>1 banana</td>
              </tr>
              <tr>
                 <td width="20%">Lunch </td>
                 <td>1 cup rice + 2 chapati+ curry + cabbage and green peas sabji</td>
              </tr>
              <tr>
                 <td width="20%">Evening </td>
                 <td>1 cup boiled green gram sprouts+ 1 cup green tea</td>
              </tr>
              <tr>
                 <td width="20%">Dinner</td>
                 <td>3 chapati+1/2 cup cauliflower sabji+1/2 cup vegetable salad</td>
              </tr>
              <tr>
                 <td style="text-align: center;font-weight: 600;" colspan="2">Wednesday</td>
              </tr>
              <tr>
                 <td width="20%">Breakfast</td>
                 <td>1 cup roasted oats upma with vegetables+1 cup milk/tea</td>
              </tr>
              <tr>
                 <td width="20%">Mid-Meal</td>
                 <td>100gm pomegranate </td>
              </tr>
              <tr>
                 <td width="20%">Lunch</td>
                 <td>4 chapati+1/2 cup chana dal+1/2 cup methi sabji+1 glass butter milk</td>
              </tr>
              <tr>
                 <td width="20%">Evening </td>
                 <td>1 cup boiled bengalgram with lemon+ 1 cup green tea</td>
              </tr>
              <tr>
                 <td width="20%">Dinner </td>
                 <td>3 chapathi+ 1/2 cup bhindi sabji+ 1 cup vegetable salad</td>
              </tr>
              <tr>
                 <td style="text-align: center;font-weight: 600;" colspan="2">Thursday</td>
              </tr>
              <tr>
                 <td width="20%">Breakfast </td>
                 <td>Vegetable sandwich with 4 wheat bread slices+cucumber</td>
              </tr>
              <tr>
                 <td width="20%">Mid-Meal</td>
                 <td>1 medium size guava</td>
              </tr>
              <tr>
                 <td width="20%">Lunch </td>
                 <td>4 chapati+1/2 cup beans curry+1/2 cup sabji+ 1 glass buttermilk</td>
              </tr>
              <tr>
                 <td width="20%">Evening </td>
                 <td>1 small fistful (40 gm) of peanuts,almonds,walnuts+1 cup green tea</td>
              </tr>
              <tr>
                 <td width="20%">Dinner </td>
                 <td>3 chapathi+1/2 cup raw banana sabji+1/2 cup vegetable salad</td>
              </tr>
              <tr>
                 <td style="text-align: center;font-weight: 600;" colspan="2">Friday</td>
              </tr>
              <tr>
                 <td width="20%">Breakfast </td>
                 <td>3 dosa+1/2 cup sambhar+1tsp methi chutney</td>
              </tr>
              <tr>
                 <td width="20%">Mid-Meal </td>
                 <td>1 medium size pear</td>
              </tr>
              <tr>
                 <td width="20%">Lunch </td>
                 <td>1 cup rice+2 chapathi+aloo brinjal sabji+1/2 cup tomato dal+1 glass buttermilk</td>
              </tr>
              <tr>
                 <td width="20%">Evening </td>
                 <td>3 biscuits+ 1 cup tea/milk(toned)</td>
              </tr>
              <tr>
                 <td width="20%">Dinner </td>
                 <td>3 chapati + lauki methi sabji+1/2 cup vegetable salad</td>
              </tr>
              <tr>
                 <td style="text-align: center;font-weight: 600;" colspan="2">Saturday</td>
              </tr>
              <tr>
                 <td width="20%">Breakfast </td>
                 <td>1/2 cup Oats in 1 glass milk</td>
              </tr>
              <tr>
                 <td width="20%">Mid-Meal </td>
                 <td>1 medium size apple</td>
              </tr>
              <tr>
                 <td width="20%">Lunch </td>
                 <td>4 chapathi+1/2 cup french beans curry + sabji+ 1 glass buttermilk</td>
              </tr>
              <tr>
                 <td width="20%">Evening </td>
                 <td>1 bowl pop corn+1 cup tea/milk(toned)</td>
              </tr>
              <tr>
                 <td width="20%">Dinner </td>
                 <td>3 chapati + 1/2 cup palak sabji+1/2 cup vegetable salad</td>
              </tr>
           </tbody>
        </table>
     </div>


</center>
<style>

tr,td{
    border: solid 2px black;
    padding-left: 5px;
    width: fit-content;
}



</style>
        {% endblock %}