{% extends 'base.html' %}

        {% block title %}Suitable diet!{% endblock %}
        {% block obeseactive %} active {% endblock %}
        {% block body %}
        {% load static %}
        
        <h2 style="text-align:center;">Suitable Diet Plan for you</h2>
        <h5 style="text-align:center;"> You fall under the Underweight category. </h5>
       <u> <h6 style="text-align:center;"> It is suggested that you follow the following diet plan</h6></u>
<br><center>
<div class="lybMar-btm lybMar-top">
    <table>
       <tbody>
          <tr>
             <td style="text-align: center;font-weight: 600;" colspan="2">Sunday</td>
          </tr>
          <tr>
             <td width="20%">Breakfast </td>
             <td>2 egg sandwich + 1 cup milk + 3 cashews + 4 almonds + 2 walnuts</td>
          </tr>
          <tr>
             <td width="20%">Mid-Meal</td>
             <td>1 cup banana shake</td>
          </tr>
          <tr>
             <td width="20%">Lunch </td>
             <td>1 cup dal + 1 cup curry + 3 chapatti + 1/2 cup rice + 1/2 cup low fat curd + salad</td>
          </tr>
          <tr>
             <td width="20%">Evening </td>
             <td>1 cup strawberry smoothie + 1 cup poha</td>
          </tr>
          <tr>
             <td width="20%">Dinner </td>
             <td>1.5 cup chicken curry + 3 chapatti + salad</td>
          </tr>
          <tr>
             <td style="text-align: center;font-weight: 600;" colspan="2">Monday</td>
          </tr>
          <tr>
             <td width="20%">Breakfast </td>
             <td>3 onion stuffed parantha + 1 cup curd + 3 cashews + 4 almonds + 2 walnuts</td>
          </tr>
          <tr>
             <td width="20%">Mid-Meal </td>
             <td>1 cup mango shake</td>
          </tr>
          <tr>
             <td width="20%">Lunch </td>
             <td>1 cup moong dal/ chicken curry + 1 cup potato and cauliflower vegetable </td>
          </tr>
          <tr>
             <td width="20%">Evening </td>
             <td>1 cup pomegranate juice + 2 butter toasted bread</td>
          </tr>
          <tr>
             <td width="20%">Dinner </td>
             <td>1 cup beans potato vegetable + 3 chapatti + salad</td>
          </tr>
          <tr>
             <td style="text-align: center;font-weight: 600;" colspan="2">Tuesday</td>
          </tr>
          <tr>
             <td width="20%">Breakfast </td>
             <td>3 paneer besan cheela + green chutney + 1 cup curd + 3 cashews + 4 almonds + 2 walnuts</td>
          </tr>
          <tr>
             <td width="20%">Mid-Meal </td>
             <td>1 apple smoothie with maple syrup</td>
          </tr>
          <tr>
             <td width="20%">Lunch </td>
             <td>1 cup masoor dal + 3 chapatti + 1/2 cup rice + 1 cup low curd + salad</td>
          </tr>
          <tr>
             <td width="20%">Evening </td>
             <td>1 cup tomato soup with bread crumbs + 1 cup aloo chaat</td>
          </tr>
          <tr>
             <td width="20%">Dinner </td>
             <td>1 cup carrot peas +3 chapatti + salad</td>
          </tr>
          <tr>
             <td style="text-align: center;font-weight: 600;" colspan="2">Wednesday</td>
          </tr>
          <tr>
             <td width="20%">Breakfast </td>
             <td>1.5 cup upma + 1 cup milk + 3 cashews + 4 almonds + 2 walnuts</td>
          </tr>
          <tr>
             <td width="20%">Mid-Meal </td>
             <td>1 cup banana with 2 tsp ghee</td>
          </tr>
          <tr>
             <td width="20%">Lunch </td>
             <td>1 cup rajma curry + 1 cup spinach potato + 3 chapatti + 1/2 cup rice + salad</td>
          </tr>
          <tr>
             <td width="20%">Evening </td>
             <td>1 cup vegetable juice + 1 cup upma</td>
          </tr>
          <tr>
             <td width="20%">Dinner </td>
             <td>1.5 cup parwal vegetable + 3 chapatti + salad</td>
          </tr>
          <tr>
             <td style="text-align: center;font-weight: 600;" colspan="2">Thursday</td>
          </tr>
          <tr>
             <td width="20%">Breakfast </td>
             <td>2 sandwich + 1 tsp green chutney + 1 orange juice + 3 cshews + 2 walnuts + 4 almonds</td>
          </tr>
          <tr>
             <td width="20%">Mid-Meal </td>
             <td>1 cup buttermilk + 1 cup sweet potato chaat </td>
          </tr>
          <tr>
             <td width="20%">Lunch </td>
             <td>1 cup white chana + 3 chapatti + 1/2 cup rice + salad</td>
          </tr>
          <tr>
             <td width="20%">Evening </td>
             <td>1 cup almond milk + banana </td>
          </tr>
          <tr>
             <td width="20%">Dinner </td>
             <td>1 cup cauliflower potato vegetable + 3 chapatti + salad</td>
          </tr>
          <tr>
             <td style="text-align: center;font-weight: 600;" colspan="2">Friday</td>
          </tr>
          <tr>
             <td width="20%">Breakfast </td>
             <td>2 cup poha + 1 cup curd + 3 cashews + 4 almonds + 2 walnuts</td>
          </tr>
          <tr>
             <td width="20%">Mid-Meal</td>
             <td>2 cups watermelon juice </td>
          </tr>
          <tr>
             <td width="20%">Lunch </td>
             <td>1 cup chanadal + 1 cup bhindi + 3 chapatti + 1/2 cup rice + salad</td>
          </tr>
          <tr>
             <td width="20%">Evening </td>
             <td>1 cup sprouts salad + 2 potato cheela + green chutney</td>
          </tr>
          <tr>
             <td width="20%">Dinner </td>
             <td>1 cup peas mushroom vegetable + 3 chapatti + salad</td>
          </tr>
          <tr>
             <td style="text-align: center;font-weight: 600;" colspan="2">Saturday</td>
          </tr>
          <tr>
             <td width="20%">Breakfast</td>
             <td> 1 strawberry shake + 4 cashews + 4 almonds + 3 walnuts</td>
          </tr>
          <tr>
             <td width="20%">Mid-Meal </td>
             <td>1 cup coconut water + 1 cup pomegrate </td>
          </tr>
          <tr>
             <td width="20%">Lunch </td>
             <td>1 cup mix dal + 1 cup soybean curry + 3 chapatti + 1/2 cup curd + salad</td>
          </tr>
          <tr>
             <td width="20%">Evening </td>
             <td>1 cup fruit salad + 4 pc vegetable cutlets + green chutney</td>
          </tr>
          <tr>
             <td width="20%">Dinner </td>
             <td>1 cup karela vegetable + 3 chaptti + salad</td>
          </tr>
       </tbody>
    </table>
 </div>
</center>
 <style>

    tr,td{
        border: solid 2px black;
        padding-left: 5px;
        width: fit-content;
    }
    
    
    
    </style>
        {% endblock %}